*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}

.container{
    position: relative;
    background-color: orange;
    height: 20vh;
    width: 40vh;
    color: #fff;
    padding: 5vh;
    border-radius: 8px;
    left: 20%;
    top: 20%;
    transform: translate(50%,50%);
}
.clock{
    height: 5vh;
    width: 40vh;
    padding: 5px;
    margin: 3px;
    background-color: rgb(203, 101, 41);
    color: #fff;
}